h1{
    text-align: center;
    color: crimson;
}
div.estatico{
    position: static;
    top: 10px;
    padding: 15px;
    border: 3px solid greenyellow;
    background-color: whitesmoke;
}
div.relativo{
    position: relative;
    top: 10px;
    left: 10px;
    padding: 15px;
    border: 3px solid blueviolet;
    background-color: whitesmoke;
}
div.absoluto{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 154px;
    border: 3px solid blue;
    background-color: whitesmoke;
    z-index: -1;
}

div.contenedor{
    position: relative;
    border: 3px dashed greenyellow;
    width: 30%;
    margin: auto;
}
.imagen{
    width: 100%;
    opacity: .2;
}
div.centro{
    position: absolute;
    top: 50%;
    width: 100%; /*para ocupar todo el espacio*/
    text-align: center;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}
div.over{
    border: 3px dotted greenyellow;
    width: 30%;
    height: 100px;
    margin: auto;
    overflow: auto;
}
/*Menu con la propiedad Display*/
.menu{
    list-style: none;
    text-align: center;
}
.menu li{
    display: inline-block;
    padding: 15px;
    margin: 20px;
    background-color: #e63946;
    border-radius: 5px;
}
a{
    text-decoration: none;
    color: #f1faee;
}